@charset "utf-8";
.words1{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: black;
    color: white;
}

.namecard{
	text-align: center;
    color: white;
	background-image: url("image/cardbackground.png");
	padding-top: 50px;
	padding-bottom: 20px;
}

.word2{
	padding-top: 20px;
	padding-bottom: 20px;
	color: lightpink;
}

.row{
	background-color: black;
}

.card{
	background-color: black;
	color: white;
}

.foot{
	text-align: center;
	background-color: rgb(26, 26, 26);
	color: white;
	padding-top: 20px;
	padding-bottom: 20px;
}

.cover{
	text-align: center;
	background-color: black;
	color: white;
}

.cover_{
	text-align: center;
	background-color: black;
	color: white;
	padding-top: 30px;
	padding-bottom: 30px;
}

.card_{
	background-color: black;
	color: white;
}

#mainContent {
	width: 1180px;
	padding: 40px;
	margin: 0 auto;
	border-left: 1px solid #ebf2f9;
	float: left;
}

.photolist {
    float: left;
    background-image: url(../images/photo_bg.gif);
    background-repeat: no-repeat;
    width: 175px;
    height: 165px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    padding-top: 30px;
    text-align: center;
}

#photoB{
	margin-left: 75px;
	margin-bottom: 20px;
}
